<%- include('../partials/questions/doctype') %>

<body>
    <%- include('../partials/questions/header') %>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/3') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->
                <img src=<%-dom.imageUrl-%> alt="<%- dom.name-%>"/>
                <p>Name: <%-homer.name%></p>
                <p>dob: <%-dom.dob%></p>
                <p>profession: <%-dom.profession%></p>
                <p>favoriteFood: <%-dom.favoriteFood%></p>
                <p>favoriteFood: <%-homer.favoriteFood%></p>

            </div>
        </div>
        <%- include('../partials/questions/linksToPages') %>
    </div>
</body>