<%- include('../partials/questions/doctype') %>
<body>
    <%- include('../partials/questions/header') %>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/4') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <p><%- best[0] %></p>
                <p><%- best[1] %></p>
                <p><%- best[2] %> </p>
                
            </div>
        </div>
        <%- include('../partials/questions/linksToPages') %>
    </div>
</body>