<%- include('../partials/questions/doctype') %>
<body>
    <%- include('../partials/questions/header') %>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/5') %>
            <div class='box answer'>
                <h3>Top 5 girls names in the England and Wales
                </h3>
                <!-- render answer here -->
                <ul>
                <% popularGirlNames.forEach((name, idx) => { %>
                    <li><%= idx + 1 %>. <%= name %></li>
                <% }); %> 
                </ul>
            </div>
        </div>
        <%- include('../partials/questions/linksToPages') %>
    </div>
</body>